.app-container__messages {
    padding: 0 10px;
    margin-bottom: 160px;
    margin-top: 110px;
}

/* Media queries */
@media only screen and (max-width: 750px) {
    .app-container__messages {
        margin-bottom: 135px;
    }
}

@media only screen and (max-width: 600px) {
    .app-container__messages {
        margin-bottom: 125px;
    }
}

@media only screen and (max-width: 500px) {
    .app-container__messages {
        margin-bottom: 115px;
    }
}